<footer>
  <div class="footer-list">
    <div class="footer-logo">
      <img src="../../assets/images/svg/angular-background-image.svg" alt="" />
    </div>
    <a class="footer-text" target="_blank" href="https://angular.io/"
      >Angular</a
    >
  </div>

  <div class="footer-list">
    <div class="footer-logo">
      <img src="../../assets/images/svg/angular-material.svg" alt="" />
    </div>
    <a class="footer-text" target="_blank" href="https://material.angular.io/"
      >Angular Material</a
    >
  </div>

  <div class="footer-list">
    <div class="footer-logo">
      <img src="../../assets/images/svg/ngrx.svg" alt="" />
    </div>
    <a class="footer-text" target="_blank" href="https://ngrx.io/">NgRx</a>
  </div>

  <div class="footer-list">
    Made by:
    <div class="footer-accent-name">Mateo Kadiu</div>
  </div>
</footer>
