<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Assigned">
    <ng-container *ngFor="let assign of assigned$">
      <mat-card>
        <mat-card-title>{{ assign?.title }}</mat-card-title>
        <mat-card-subtitle> Assigned to: {{ assign?.to }}</mat-card-subtitle>
        <mat-card-content>
          <div>
            Description:
            <p>{{ assign?.description }}</p>
          </div>
          <div class="task-deadline">
            <div class="task-deadline-wrapper">
              Deadline:
              <mat-card-subtitle>{{
                assign?.end | date: "medium"
              }}</mat-card-subtitle>
            </div>
            <div
              *ngIf="assign?.status === 'Completed'"
              class="status-border completed"
            >
              {{ assign?.status }}
            </div>
            <div
              *ngIf="assign?.status === 'Assigned'"
              class="status-border assigned"
            >
              {{ assign?.status }}
            </div>
            <div
              *ngIf="assign?.status === 'Failed'"
              class="status-border failed"
            >
              {{ assign?.status }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </mat-tab>
  <mat-tab label="Completed">
    <ng-container *ngFor="let complete of completed$">
      <mat-card>
        <mat-card-title>{{ complete?.title }}</mat-card-title>
        <mat-card-subtitle> Assigned to: {{ complete?.to }}</mat-card-subtitle>
        <mat-card-content>
          <div>
            Description:
            <p>{{ complete?.description }}</p>
          </div>
          <div class="task-deadline">
            <div class="task-deadline-wrapper">
              Deadline:
              <mat-card-subtitle>{{
                complete?.end | date: "medium"
              }}</mat-card-subtitle>
            </div>
            <div
              *ngIf="complete?.status === 'Completed'"
              class="status-border completed"
            >
              {{ complete?.status }}
            </div>
            <div
              *ngIf="complete?.status === 'Assigned'"
              class="status-border assigned"
            >
              {{ complete?.status }}
            </div>
            <div
              *ngIf="complete?.status === 'Failed'"
              class="status-border failed"
            >
              {{ complete?.status }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </mat-tab>
  <mat-tab label="Failed">
    <ng-container *ngFor="let fail of failed$">
      <mat-card>
        <mat-card-title>{{ fail?.title }}</mat-card-title>
        <mat-card-subtitle> Assigned to: {{ fail?.to }}</mat-card-subtitle>
        <mat-card-content>
          <div>
            Description:
            <p>{{ fail?.description }}</p>
          </div>
          <div class="task-deadline">
            <div class="task-deadline-wrapper">
              Deadline:
              <mat-card-subtitle>{{
                fail?.end | date: "medium"
              }}</mat-card-subtitle>
            </div>
            <div
              *ngIf="fail?.status === 'Completed'"
              class="status-border completed"
            >
              {{ fail?.status }}
            </div>
            <div
              *ngIf="fail?.status === 'Assigned'"
              class="status-border assigned"
            >
              {{ fail?.status }}
            </div>
            <div *ngIf="fail?.status === 'Failed'" class="status-border failed">
              {{ fail?.status }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container></mat-tab
  >
</mat-tab-group>
