<h2 mat-dialog-title *ngIf="mode !== 'view'">{{ dialogTitle }}</h2>
<mat-dialog-content>
  <ng-container *ngIf="form">
    <div class="spinner-container" *ngIf="loading$ | async">
      <mat-spinner></mat-spinner>
    </div>

    <ng-container [formGroup]="form">
      <app-input
        label="Title"
        iconName="title"
        [control]="getControl('title')"
      ></app-input>

      <mat-form-field>
        <input
          matInput
          [ngxMatDatetimePicker]="picker"
          placeholder="Choose a start date"
          formControlName="start"
          [min]="minDate"
          [max]="maxDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="$any(picker)"
        ></mat-datepicker-toggle>
        <ngx-mat-datetime-picker
          #picker
          [showSpinners]="showSpinners"
          [showSeconds]="showSeconds"
          [stepHour]="stepHour"
          [stepMinute]="stepMinute"
          [stepSecond]="stepSecond"
          [touchUi]="touchUi"
          [color]="color"
          [enableMeridian]="enableMeridian"
          [disableMinute]="disableMinute"
          [hideTime]="hideTime"
        >
        </ngx-mat-datetime-picker>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [ngxMatDatetimePicker]="picker2"
          placeholder="Choose an end date"
          formControlName="end"
          [min]="minDate"
          [max]="maxDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="$any(picker2)"
        ></mat-datepicker-toggle>
        <ngx-mat-datetime-picker
          #picker2
          [showSpinners]="showSpinners"
          [showSeconds]="showSeconds"
          [stepHour]="stepHour"
          [stepMinute]="stepMinute"
          [stepSecond]="stepSecond"
          [touchUi]="touchUi"
          [color]="color"
          [enableMeridian]="enableMeridian"
          [disableMinute]="disableMinute"
          [hideTime]="hideTime"
        >
        </ngx-mat-datetime-picker>
      </mat-form-field>

      <ng-container formGroupName="color">
        <mat-form-field appearance="fill">
          <mat-label>Choose a primary color</mat-label>
          <input matInput type="color" formControlName="primary" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Choose a secondary color</mat-label>
          <input matInput type="color" formControlName="secondary" />
        </mat-form-field>
      </ng-container>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          formControlName="description"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
        ></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select a user</mat-label>
        <mat-select [(value)]="selected" formControlName="to">
          <ng-container *ngFor="let u of users">
            <mat-option [value]="u.email">
              {{ u?.email }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="mode === 'view'">
    <mat-card>
      <mat-card-title>{{ task?.title }}</mat-card-title>
      <mat-card-subtitle> Assigned to: {{ task?.to }}</mat-card-subtitle>
      <mat-card-content>
        <div>
          Description:
          <p>{{ task?.description }}</p>
        </div>
        <div class="task-deadline">
          <div>
            Deadline:
            <mat-card-subtitle>{{
              task?.end | date: "medium"
            }}</mat-card-subtitle>
          </div>
          <div
            *ngIf="task?.status === 'Completed'"
            class="status-border completed"
          >
            {{ task?.status }}
          </div>
          <div
            *ngIf="task?.status === 'Assigned'"
            class="status-border assigned"
          >
            {{ task?.status }}
          </div>
          <div *ngIf="task?.status === 'Failed'" class="status-border failed">
            {{ task?.status }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <ng-container *ngIf="mode === 'delete'">
    <div>
      Are you sure for the deletion of task with title '{{ task?.title }}' ?
    </div>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions *ngIf="mode !== 'view'">
  <button mat-raised-button (click)="onClose()">Close</button>

  <button
    *ngIf="mode !== 'delete'"
    mat-raised-button
    color="primary"
    [disabled]="!form?.valid || (this.loading$ | async)"
    (click)="onSave()"
  >
    Save
  </button>

  <button
    *ngIf="mode === 'delete'"
    mat-raised-button
    color="warn"
    (click)="onSave()"
  >
    Delete
  </button>
</mat-dialog-actions>
