<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="login" routerLinkActive="active">Login</a>
      <a mat-list-item routerLink="view/home" routerLinkActive="active">Home</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>task-connect</span>
      </div>
      <div class="toolbar-right">
        <div class="toolbar-nav">
          <a
            *ngIf="isLoggedOut$ | async"
            routerLink="login"
            routerLinkActive="active"
            ><mat-icon>input</mat-icon> Login</a
          >
          <a
            *ngIf="isLoggedIn$ | async"
            routerLink="view/home"
            routerLinkActive="active"
            ><mat-icon>home</mat-icon>Home</a
          >
          <a
            *ngIf="(isLoggedIn$ | async) && (isManager$ | async)"
            routerLink="view/manager/task"
            routerLinkActive="active"
            ><mat-icon>home</mat-icon>Task</a
          >
          <a
            *ngIf="(isLoggedIn$ | async) && (isAdmin$ | async)"
            routerLink="view/admin/user-management"
            routerLinkActive="active"
            ><mat-icon>home</mat-icon>User Management</a
          >
          <a
            *ngIf="(isLoggedIn$ | async) && (isAdmin$ | async)"
            routerLink="view/admin/register-user"
            routerLinkActive="active"
            ><mat-icon>face</mat-icon>Create a User</a
          >

          <a
            *ngIf="(isLoggedIn$ | async) && (isEmployee$ | async)"
            routerLink="view/employee/task"
            routerLinkActive="active"
            ><mat-icon>home</mat-icon>Employee Task</a
          >
        </div>

        <button
          color="accent"
          *ngIf="isLoggedIn$ | async"
          class="user-settings-button"
          matTooltip="User settings"
          [matMenuTriggerFor]="menu2"
        >
          {{ userInitials$ | async }}
        </button>

        <button
          mat-icon-button
          class="mat-menu-button-theme"
          matTooltip="Select a theme"
          [matMenuTriggerFor]="menu"
        >
          <mat-icon> format_color_fill</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <mat-menu class="mat-menu-user-settings" #menu2="matMenu">
      <button
        mat-menu-item
        class="settings-button"
        (click)="changeCredentials()"
      >
        <mat-icon>supervisor_account</mat-icon>Change Credentials
      </button>
      <button mat-menu-item class="settings-button" (click)="changePassword()">
        <mat-icon>lock</mat-icon> Change Password
      </button>
      <button mat-menu-item (click)="logout()" class="settings-button">
        <mat-icon>logout</mat-icon>Logout
      </button>
    </mat-menu>

    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        class="toolbar-menu-button"
        (click)="changeTheme('deep-purple-amber-theme')"
      >
        <mat-icon color="accent">{{
          deepPurpleAmber ? "radio_button_checked" : "radio_button_unchecked"
        }}</mat-icon>
        <span>Deep Purple & Amber</span>
        <mat-icon
          role="img"
          svgicon="theme-example"
          class="mat-icon notranslate deeppurple-amber theme-example-icon mat-icon-no-color"
          aria-hidden="true"
          data-mat-icon-type="svg"
          data-mat-icon-name="theme-example"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            height="100%"
            viewBox="0 0 80 80"
            fit=""
            preserveAspectRatio="xMidYMid meet"
            focusable="false"
          >
            <defs>
              <path
                d="M77.87 0C79.05 0 80 .95 80 2.13v75.74c0 1.17-.95 2.13-2.13 2.13H2.13C.96 80 0 79.04 0 77.87V2.13C0 .95.96 0 2.13 0h75.74z"
                id="a"
              ></path>
              <path
                d="M54 40c3.32 0 6 2.69 6 6 0 1.2 0-1.2 0 0 0 3.31-2.68 6-6 6H26c-3.31 0-6-2.69-6-6 0-1.2 0 1.2 0 0 0-3.31 2.69-6 6-6h28z"
                id="b"
              ></path>
              <path d="M0 0h80v17.24H0V0z" id="c"></path>
            </defs>
            <use
              xlink:href="#a"
              fill="#fff"
              class="docs-theme-icon-background"
            ></use>
            <use
              xlink:href="#b"
              fill="#ff4081"
              class="docs-theme-icon-button"
            ></use>
            <use
              xlink:href="#c"
              fill="#3f51b5"
              class="docs-theme-icon-toolbar"
            ></use></svg
        ></mat-icon>
      </button>
      <button
        mat-menu-item
        class="toolbar-menu-button"
        (click)="changeTheme('indigo-pink-theme')"
      >
        <mat-icon color="accent">{{
          indigoPink ? "radio_button_checked" : "radio_button_unchecked"
        }}</mat-icon>
        <span>Indigo & Pink</span>
        <mat-icon
          role="img"
          svgicon="theme-example"
          class="mat-icon notranslate indigo-pink theme-example-icon mat-icon-no-color"
          aria-hidden="true"
          data-mat-icon-type="svg"
          data-mat-icon-name="theme-example"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            height="100%"
            viewBox="0 0 80 80"
            fit=""
            preserveAspectRatio="xMidYMid meet"
            focusable="false"
          >
            <defs>
              <path
                d="M77.87 0C79.05 0 80 .95 80 2.13v75.74c0 1.17-.95 2.13-2.13 2.13H2.13C.96 80 0 79.04 0 77.87V2.13C0 .95.96 0 2.13 0h75.74z"
                id="a"
              ></path>
              <path
                d="M54 40c3.32 0 6 2.69 6 6 0 1.2 0-1.2 0 0 0 3.31-2.68 6-6 6H26c-3.31 0-6-2.69-6-6 0-1.2 0 1.2 0 0 0-3.31 2.69-6 6-6h28z"
                id="b"
              ></path>
              <path d="M0 0h80v17.24H0V0z" id="c"></path>
            </defs>
            <use
              xlink:href="#a"
              fill="#fff"
              class="docs-theme-icon-background"
            ></use>
            <use
              xlink:href="#b"
              fill="#ff4081"
              class="docs-theme-icon-button"
            ></use>
            <use
              xlink:href="#c"
              fill="#3f51b5"
              class="docs-theme-icon-toolbar"
            ></use></svg
        ></mat-icon>
      </button>
      <button
        mat-menu-item
        class="toolbar-menu-button"
        (click)="changeTheme('pink-blue-grey-theme')"
      >
        <mat-icon color="accent">{{
          pinkBlueGrey ? "radio_button_checked" : "radio_button_unchecked"
        }}</mat-icon>
        <span>Pink & Blue-grey</span>
        <mat-icon
          role="img"
          svgicon="theme-example"
          class="mat-icon notranslate pink-bluegrey theme-example-icon mat-icon-no-color"
          aria-hidden="true"
          data-mat-icon-type="svg"
          data-mat-icon-name="theme-example"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            height="100%"
            viewBox="0 0 80 80"
            fit=""
            preserveAspectRatio="xMidYMid meet"
            focusable="false"
          >
            <defs>
              <path
                d="M77.87 0C79.05 0 80 .95 80 2.13v75.74c0 1.17-.95 2.13-2.13 2.13H2.13C.96 80 0 79.04 0 77.87V2.13C0 .95.96 0 2.13 0h75.74z"
                id="a"
              ></path>
              <path
                d="M54 40c3.32 0 6 2.69 6 6 0 1.2 0-1.2 0 0 0 3.31-2.68 6-6 6H26c-3.31 0-6-2.69-6-6 0-1.2 0 1.2 0 0 0-3.31 2.69-6 6-6h28z"
                id="b"
              ></path>
              <path d="M0 0h80v17.24H0V0z" id="c"></path>
            </defs>
            <use
              xlink:href="#a"
              fill="#fff"
              class="docs-theme-icon-background"
            ></use>
            <use
              xlink:href="#b"
              fill="#ff4081"
              class="docs-theme-icon-button"
            ></use>
            <use
              xlink:href="#c"
              fill="#3f51b5"
              class="docs-theme-icon-toolbar"
            ></use></svg
        ></mat-icon>
      </button>
      <button
        mat-menu-item
        class="toolbar-menu-button"
        (click)="changeTheme('purple-green-theme')"
      >
        <mat-icon color="accent">{{
          purpleGreen ? "radio_button_checked" : "radio_button_unchecked"
        }}</mat-icon>
        <span>Purple & Green</span>
        <mat-icon
          role="img"
          svgicon="theme-example"
          class="mat-icon notranslate purple-green theme-example-icon mat-icon-no-color"
          aria-hidden="true"
          data-mat-icon-type="svg"
          data-mat-icon-name="theme-example"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="100%"
            height="100%"
            viewBox="0 0 80 80"
            fit=""
            preserveAspectRatio="xMidYMid meet"
            focusable="false"
          >
            <defs>
              <path
                d="M77.87 0C79.05 0 80 .95 80 2.13v75.74c0 1.17-.95 2.13-2.13 2.13H2.13C.96 80 0 79.04 0 77.87V2.13C0 .95.96 0 2.13 0h75.74z"
                id="a"
              ></path>
              <path
                d="M54 40c3.32 0 6 2.69 6 6 0 1.2 0-1.2 0 0 0 3.31-2.68 6-6 6H26c-3.31 0-6-2.69-6-6 0-1.2 0 1.2 0 0 0-3.31 2.69-6 6-6h28z"
                id="b"
              ></path>
              <path d="M0 0h80v17.24H0V0z" id="c"></path>
            </defs>
            <use
              xlink:href="#a"
              fill="#fff"
              class="docs-theme-icon-background"
            ></use>
            <use
              xlink:href="#b"
              fill="#ff4081"
              class="docs-theme-icon-button"
            ></use>
            <use
              xlink:href="#c"
              fill="#3f51b5"
              class="docs-theme-icon-toolbar"
            ></use></svg
        ></mat-icon>
      </button>
    </mat-menu>

    <div class="spinner-container" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>

    <ng-content *ngIf="!loading"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
