header.docs-header-background {
  overflow: hidden;
  position: relative;
  height: 420px;
  @media screen and (max-width: 600px) {
    height: 350px;
  }
}

header.docs-header-background::before {
  content: "";
  position: absolute;
  background-image: url("../../../assets/images/svg/angular-background-image.svg");
  background-size: 600px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: 80% 20px;
  opacity: 0.2;

  @media screen and (max-width: 600px) {
    content: none;
  }
}

.paragraphs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 50px auto;

  @media screen and (max-width: 650px) {
    flex-direction: column;
  }
}

.paragraph-element {
  display: flex;
  flex-direction: column;
  width: 30%;

  & h2 {
    font-size: 1.8rem;
  }
  & p {
    font-size: 1rem;
    line-height: 1.8;
  }

  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

.docs-header-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.docs-header-headline {
  text-align: center;
  color: #fff;
}

.mat-h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
  font-weight: 900;
  margin-bottom: 30px;
  @media screen and (max-width: 600px) {
    line-height: 1;
  }
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.manager-tabs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  width: inherit;
}

.employee-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  margin: 0 auto;
}
