<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Task Organizer</h1>
      <h2>A solution for every company</h2>
    </div>
  </div>
</header>

<div class="employee-tab">
  <app-tab
    *ngIf="user?.role == 'Employee'"
    [assigned$]="assigned$ | async"
    [completed$]="completed$ | async"
    [failed$]="failed$ | async"
  ></app-tab>
</div>

<div class="paragraphs-container" *ngIf="user?.role == 'Admin'">
  <div class="paragraph-element">
    <h2>High quality</h2>
    <p>
      Internationalized and accessible components for everyone. Well tested to
      ensure performance and reliability.
    </p>
    <p>Straightforward APIs with consistent cross platform behavior.</p>
  </div>
  <div class="paragraph-element">
    <h2>Versatile</h2>

    <p>
      Provide tools that help developers build their own custom components with
      common interaction patterns.
    </p>
    <p>Customizable within the bounds of the Material Design specification.</p>
  </div>
  <div class="paragraph-element">
    <h2>Frictionless</h2>
    <p>Built by the Angular team to integrate seamlessly with Angular.</p>
    <p>Start from scratch or drop into your existing applications.</p>
  </div>
</div>

<div class="manager-tabs-container" *ngIf="user?.role == 'Manager'">
  <mat-form-field class="tabs-selector" appearance="fill">
    <mat-label>Select a user</mat-label>
    <mat-select [(value)]="selectedEmail">
      <ng-container *ngFor="let u of users$ | async">
        <mat-option class="option-selector" [value]="u.email">
          {{ u?.email }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <app-tab
    [assigned$]="assignedUser$ | async | filterState: selectedEmail"
    [completed$]="completedUser$ | async | filterState: selectedEmail"
    [failed$]="failedUser$ | async | filterState: selectedEmail"
  ></app-tab>
</div>
