<mat-dialog-content>
  <ng-container *ngIf="mode === 'view'">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ dialogTitle }}</mat-card-title>
        <mat-card-subtitle>{{
          task?.title
        }}</mat-card-subtitle></mat-card-header
      >
      <mat-card-content style="overflow-x: hidden">
        <div class="card-description">
          <div class="card-description-title">Description</div>
          <div class="card-description-content">{{ task?.description }}</div>
        </div>
        <div class="card-dates">
          <div style="font-weight: 300">
            <span style="font-weight: 700">From:</span> {{ task?.start | date }}
          </div>
          <div style="font-weight: 300">
            <span style="font-weight: 700">To:</span> {{ task?.end | date }}
          </div>
        </div>
        <div>{{ task?.to }}</div>
        <div>{{ task?.from }}</div>
        <div>{{ task?.status }}</div>
      </mat-card-content>
    </mat-card>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions *ngIf="task?.status == 'Assigned'">
  <button mat-raised-button (click)="onClose()">Close</button>

  <button mat-raised-button color="primary" (click)="onSave()">
    Mark as Completed
  </button>
</mat-dialog-actions>
