/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@import "/node_modules/angular-calendar/scss/angular-calendar.scss";

.cal-month-view .cal-header .cal-cell,
.cal-month-view .cal-cell-top,
.cal-week-view .cal-event,
.cal-week-view .cal-header,
.cal-week-view .cal-time {
  color: #000;
}

.purple-green-theme {
  $my-primary: mat.define-palette(mat.$purple-palette);
  $my-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

  $my-theme: mat.define-dark-theme(
    (
      color: (
        primary: $my-primary,
        accent: $my-accent,
      ),
    )
  );

  & .mat-sidenav .mat-toolbar {
    background-color: mat.get-color-from-palette($my-primary) !important;
  }

  & .paragraph-element {
    color: #ffffffb3;
  }

  & .mat-button-toggle-checked {
    background-color: mat.get-color-from-palette($my-accent) !important;
    color: mat.get-color-from-palette($my-accent, default-contrast) !important;
  }

  & header.docs-header-background {
    background-color: mat.get-color-from-palette($my-primary) !important;
    color: mat.get-color-from-palette($my-accent, default-contrast) !important;
  }

  & footer {
    background-color: mat.get-color-from-palette($my-primary) !important;
    color: mat.get-color-from-palette($my-accent, default-contrast) !important;

    & .footer-text:hover {
      color: mat.get-color-from-palette($my-accent);
    }

    & .footer-logo svg {
      fill: #303030;
    }
  }

  & .nav-logo svg {
    fill: #303030;
  }

  & .footer-accent-name {
    color: mat.get-color-from-palette($my-accent);
  }

  @include mat.all-component-colors($my-theme);
}

.indigo-pink-theme {
  $my-primary: mat.define-palette(mat.$indigo-palette);
  $my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

  $my-theme: mat.define-light-theme(
    (
      color: (
        primary: $my-primary,
        accent: $my-accent,
      ),
    )
  );

  & .mat-sidenav .mat-toolbar {
    background-color: mat.get-color-from-palette($my-primary) !important;
  }

  & .mat-button-toggle-checked {
    background-color: mat.get-color-from-palette($my-accent) !important;
    color: mat.get-color-from-palette($my-accent, default-contrast) !important;
  }

  & header.docs-header-background {
    background-color: mat.get-color-from-palette($my-primary) !important;
    color: mat.get-color-from-palette($my-accent, default-contrast) !important;
  }

  .footer-accent-name {
    color: mat.get-color-from-palette($my-accent);
  }

  & footer {
    background-color: mat.get-color-from-palette($my-primary) !important;
    color: mat.get-color-from-palette($my-accent, default-contrast) !important;

    & .footer-text:hover {
      color: mat.get-color-from-palette($my-accent);
    }

    & .footer-logo svg {
      fill: #fff;
    }
  }

  & .nav-logo svg {
    fill: #fff;
  }

  & .paragraph-element {
    color: #000;
  }

  @include mat.all-component-colors($my-theme);
}

.deep-purple-amber-theme {
  $my-primary: mat.define-palette(mat.$deep-purple-palette);
  $my-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

  $my-theme: mat.define-light-theme(
    (
      color: (
        primary: $my-primary,
        accent: $my-accent,
      ),
    )
  );

  & .mat-sidenav .mat-toolbar {
    background-color: mat.get-color-from-palette($my-primary) !important;
  }

  & .mat-button-toggle-checked {
    background-color: mat.get-color-from-palette($my-accent) !important;
    color: mat.get-color-from-palette($my-accent, default-contrast) !important;
  }

  & header.docs-header-background {
    background-color: mat.get-color-from-palette($my-primary) !important;
    color: mat.get-color-from-palette($my-accent, default-contrast) !important;
  }

  & footer {
    background-color: mat.get-color-from-palette($my-primary) !important;
    color: mat.get-color-from-palette($my-accent, default-contrast) !important;

    & .footer-text:hover {
      color: mat.get-color-from-palette($my-accent);
    }

    & .footer-logo svg {
      fill: #fff;
    }
  }

  & .paragraph-element {
    color: #000;
  }

  & .footer-accent-name {
    color: mat.get-color-from-palette($my-accent);
  }

  & .nav-logo svg {
    fill: #fff;
  }

  @include mat.all-component-colors($my-theme);
}

.search-bar-container {
  & .mat-form-field-appearance-fill .mat-form-field-infix {
    padding-right: 2.2rem;
  }
}

.pink-blue-grey-theme {
  $my-primary: mat.define-palette(mat.$pink-palette);
  $my-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);

  $my-theme: mat.define-dark-theme(
    (
      color: (
        primary: $my-primary,
        accent: $my-accent,
      ),
    )
  );

  & .paragraph-element {
    color: #ffffffb3;
  }

  & .mat-sidenav .mat-toolbar {
    background-color: mat.get-color-from-palette($my-primary) !important;
  }

  & .mat-button-toggle-checked {
    background-color: mat.get-color-from-palette($my-accent) !important;
    color: mat.get-color-from-palette($my-accent, default-contrast) !important;
  }

  & header.docs-header-background {
    background-color: mat.get-color-from-palette($my-primary) !important;
    color: mat.get-color-from-palette($my-accent, default-contrast) !important;
  }

  & footer {
    background-color: mat.get-color-from-palette($my-primary) !important;
    color: mat.get-color-from-palette($my-accent, default-contrast) !important;

    & .footer-text:hover {
      color: mat.get-color-from-palette($my-accent);
    }

    & .footer-logo svg {
      fill: #303030;
    }
  }

  & .nav-logo svg {
    fill: #303030;
  }

  & .footer-accent-name {
    color: mat.get-color-from-palette($my-accent);
  }

  @include mat.all-component-colors($my-theme);
}

svg.mat-datepicker-toggle-default-icon.ng-star-inserted {
  transform: scale(1.5);
}

.table-responsive th {
  color: #fff;
}

.mat-toolbar {
  z-index: 100 !important;
}

@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
